.black {
    color: #000000;
}

.gray {
    color: #aaaaaa;
}

.red {
    color: #ff1111;
}

.s14 {
    width: 14px;
    height: 14px;
}

.s24 {
    width: 24px;
    height: 24px;
}

.s32 {
    width: 32px;
    height: 320px;
}

.icon-close {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'> <path stroke='%23aaaaaa' stroke-width='16' stroke-linecap='round' d='M8 8 l48 48 M56 8 l-48 48'></path></svg>");
}

.icon-plus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'> <path stroke='%23aaaaaa' stroke-width='16' stroke-linecap='round' d='M32 8 l0 48 M8 32 l48 0'></path></svg>");
}

.icon-minus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'> <path stroke='%23aaaaaa' stroke-width='16' stroke-linecap='round' d='M8 32 l48 0'></path></svg>");
}

.icon-spinner {
    background-image: url("data:image/svg+xml;utf8,<svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200' fill='none'> <path stroke='%23aaaaaa' stroke-width='16' stroke-linecap='round' d='M 30 90 A 70 70 0 1 1 110 170'></path></svg>");
}

.icon-reload {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24px' height='24px'><path d='M 15 3 C 12.031398 3 9.3028202 4.0834384 7.2070312 5.875 A 1.0001 1.0001 0 1 0 8.5058594 7.3945312 C 10.25407 5.9000929 12.516602 5 15 5 C 20.19656 5 24.450989 8.9379267 24.951172 14 L 22 14 L 26 20 L 30 14 L 26.949219 14 C 26.437925 7.8516588 21.277839 3 15 3 z M 4 10 L 0 16 L 3.0507812 16 C 3.562075 22.148341 8.7221607 27 15 27 C 17.968602 27 20.69718 25.916562 22.792969 24.125 A 1.0001 1.0001 0 1 0 21.494141 22.605469 C 19.74593 24.099907 17.483398 25 15 25 C 9.80344 25 5.5490109 21.062074 5.0488281 16 L 8 16 L 4 10 z'/></svg>");
}

.icon-color {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'> <rect fill='none' stroke='%23aaaaaa' stroke-width='12' x='12' y='12' width='40' height='40' /></svg>");
}

.icon-font {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'> <path stroke='%23aaaaaa' stroke-width='12' stroke-linecap='round' d='M16 12 l0 40 M16 12 l24 0 M16 30 l16 0'></path></svg>");
}

.icon-edit {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='100 -100 500 500'><path fill='%23aaaaaa' d='\
    M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z'/>\
    </svg>");
}