.notes {
    display:flex;
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    user-select: none;
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    justify-content: center;
    align-items: center;
}

.note {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

.note-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    resize: none;
    outline: none;
    padding: 0px;
    margin: 4px;
    border: solid;
    border-width: 22px 4px 8px 4px;
    scrollbar-gutter: stable;
    box-shadow: 1px 1px 4px 0px #aaaaaa;
    cursor: default;
    user-select: all;
    font-family: inherit;
    border-radius: 1px;
    overflow: auto;
}

.note-text:focus {
    box-shadow: 1px 1px 8px 0px #aaaaaa;
}

.horizHandleClass {
    cursor: e-resize !important;
}

.vertHandleClass {
    cursor: s-resize !important;
}

::-webkit-scrollbar {
    width: 14px;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    cursor: default;
}

.toolbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 4px;
    top: 0;
    right: 0;
    margin-right: 8px;
    margin-top: 8px;
    z-index: 10;
    cursor: default;
}

.tool-button {
    display: flex;
    cursor: default;
    background-position: center;
    background-repeat: no-repeat;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 4px;
    resize: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
    z-index: 20;
}

.dialog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    cursor: default;
    background-color: #ffffff;
}

.copyright {
    position: fixed;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 0px 4px 0px 4px;
    z-index: 1000;
    white-space: nowrap;
    opacity: 0.8;
    pointer-events: none;
    background-color: #ffffff;
    border-radius: 1px;
}

.status {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    right: 8px;
    bottom: 8px;
    z-index: 1000;
}